{{#partial"content"}}

<div class="container">
    <div class="bs-docs-section clearfix">
        <div class="card mb-3">
            <h3 class="card-header">Daily Todo</h3>
            <div class="card-body">
                <form name="todo" method="get" action="/todo/form">
                    <button type="submit" class="btn btn-primary">시작하기</button>
                </form>
            </div>
            <img style="height: 400px; width: 100%; display: block;"
                 src="https://images.unsplash.com/photo-1551151692-15f5e138754e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=60" alt="Card image">
        </div>
    </div>
</div>

{{/partial}}
{{>base}}